@import "tailwindcss";

@theme {
  --font-sans: Tahoma, Verdana, Segoe, sans-serif;
  --font-heading: var(--font-prata), serif;
}

:root {
  /* New Branding Colors */
  --primary: #9cbe48;
  /* Secondary Green as main accent */
  --primary-dark: #121333;
  /* Tertiary Navy */
  --primary-light: #f0fdf4;

  --success: #9cbe48;
  --success-light: #dcfce7;

  --danger: #df0404;
  --danger-light: #ffc5c5;

  --text-primary: #121333;
  /* Use Navy for primary text for branded feel */
  --text-secondary: #9197b3;

  --bg-sidebar: #ffffff;
  --bg-main: #ffffff;
  /* Requested Pure White */
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-sans);
}